<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126656546659-tacspqdgub5225hd4tob008tpl5tfr5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126656546659-tacspqdgub5225hd4tob008tpl5tfr5i</string>
	<key>API_KEY</key>
	<string>AIzaSyCQQIU9tVgIfsHsf-zSlbyfLepXzaAn-7g</string>
	<key>GCM_SENDER_ID</key>
	<string>126656546659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.harshitkapoor.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-a9465</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-a9465.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126656546659:ios:921966abf25ff6d2223556</string>
</dict>
</plist>